*.pyc
server/node_modules
minimaps
minimaps_done
tmp_screenshots
server/gpt_data
server/.env
.env
server/backup
backup_saves
.venv/
*.gba
*.sav
*.ss1
streamer/node_modules
streamer/.stream-keys
streamer/tts_output/
server/tmp/
